/*===== GOGGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*===== VARIABLES SCSS =====*/
/*===== VARIABLES CSS =====*/
/*=== Colores ===*/
:root {
  --first-color: #0396A6;
  --dark-color: #000;
  --white-color: #F2F2F2;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Open Sans', sans-serif;
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 7rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=== z index ===*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  margin: 0;
  font-family: var(--body-font);
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*-----------------------------------*\
  #LOADING
\*-----------------------------------*/

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 5;
  transform-origin: bottom;
  transition: 0.5s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  transition-delay: 0.5s;
}

.loading.loaded {
  transform: scaleY(0);
  pointer-events: none;
}

.loading>* {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-2);
}

.loading.loaded>* {
  opacity: 0;
}

.loading .circle {
  animation: rotate360 1.5s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}


[data-reveal] {
  transform: translateY(50px);
  opacity: 0;
  transition: var(--transition-3);
}

[data-reveal="left"] {
  transform: translate(-50px, 0);
}

[data-reveal="center"] {
  transform: translate(50px, 0);
}

[data-reveal].revealed {
  transform: translate(0, 0);
  animation: rvl 1.5s forwards;
}


@keyframes rvl {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/*===== LAYOUT =====*/
.bd-grid {
  max-width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-modal);
}

/*===== NAVBAR =====*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*font-weight: bold;*/
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    left: 0%;
    top: -100%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 40%;
    padding: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    z-index: var(--z-fixed);
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.nav__logo {
  color: var(--white-color);
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: rgb(24, 80, 185);
  letter-spacing: 2px;
}

.nav__toggle {
  font-size: 2rem;
  color: var(--white-color);
  cursor: pointer;
}

.active-link{
  border-bottom: 2px solid red;
}

.nav__link .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.nav__link.active-link .underline {
  width: 100%;
  background-color: red;
}

.nav__link:hover .underline {
  background-color: red;
  width: 100%;
}


.nav__link:active a {
  transition: none;
  color: rgba(255, 255, 255, 0.76);
}

.nav__link:active .underline {
  transition: none;
  background-color: rgba(255, 255, 255, 0.76);
}

/*=== Show menu ===*/
.show {
  top: 3rem;
}

/*===== HOME =====*/
 #particles-js {
   width: 100%;
   height: 100vh;
   background-image: url('../img/hero\ \(3\).png');
 }

.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home__parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__parallax-img1 {
  background-image: url("/assets/img/imgm1.png");
  z-index: var(--z-normal);
}

.home__parallax-img2 {
  background-image: url("/assets/img/imgm2.png");
  z-index: var(--z-tooltip);
}

.home__parallax-img3 {
  background-image: url("/assets/img/imgm3.png");
  z-index: var(--z-fixed);
}

.home__parallax-img4 {
  background-image: url("/assets/img/imgm4.png");
  z-index: var(--z-fixed);
}

.home__title, .home__subtitle {
  position: absolute;
  width: 100%;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white-color);
}

.home__title {
  z-index: var(--z-normal);
}

.home__subtitle {
  top: 44%;
  font-size: var(--h2-font-size);
  z-index: var(--z-tooltip);
}

.home__scroll {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  z-index: var(--z-modal);
}

.home__scroll .bx-mouse {
  color: var(--white-color);
}

/*=====CONTAINER=====*/
.container{
  margin-left: 20%;
  margin-right: 20%;
}

/*===== SECTION =====*/
.l-section {
  background-color: white;
}

.section {
  height: 100vh;
  max-width: 950px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__data {
  margin-bottom: 3rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.section__img {
  width: 285px;
  border-radius: .5rem;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-image: url('../img/footer\ \(1\).png');
  opacity: 0.8;
  padding: 70px 0;
}

.footer-col {
  width: 33.33%;
  padding: 0 35px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}


/*===== MEDIA QUERIES =====*/
@media screen and (max-width: 760px) {
      .home__title {
          font-size: 21px;
        }
        /*=====CONTAINER=====*/
        .container {
          margin-left: 5%;
          margin-right: 5%;
        }
}
@media screen and (min-width: 760px) {
  .nav {
    height: 5rem;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav__logo{
    margin-left: 40px;
  }
  .nav__item {
    margin-right: 3rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
    .home__title {
      font-size: 25px;
    }

  .home__subtitle {
    top: 50%;
  }
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .section__text {
    padding-right: 4rem;
  }
  .section__img {
    width: 470px;
  }
    /*=====CONTAINER=====*/
    .container {
      margin-left: 17%;
      margin-right: 17%;
    }
}

@media screen and (min-width: 1500px) {
  .home__title{
    font-size: 40px;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
    /*=====CONTAINER=====*/
    .container {
      margin-left: 15%;
      margin-right: 15%;
    }
}


/*popoup*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  height: 60%;
  margin-top: 150px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #747474;
}

.popup .content {
  margin-top: 30px;
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 80%;
  }

  .popup {
    width: 80%;
    justify-content: center;
  }
}